<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="reservas">
        <ion-icon name="calendar-outline"></ion-icon>
        Reservas
      </ion-tab-button>
      <ion-tab-button tab="administrar">
        <ion-icon name="business-outline"></ion-icon>
        Administrar
      </ion-tab-button>
      <ion-tab-button tab="perfil">
        <ion-icon name="person-outline"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
